// colors used in this project
$yellow: #fff100;
$pink: #ed1e79;
$red: #d20120;
$yellow: #fff100;
$white: #fff;
$brown: #6d3d0f;

// font in paragraph and heading
$text: "Montserrat", sans-serif;
$heading: "Bangers", cursive;